.div {
    padding: 20px;
    margin-bottom: 20px;
    text-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.499);
}

.p{
    width: 100%;
    text-wrap: wrap;
    box-sizing: border-box; /* Incluye el padding y el border en el cálculo del ancho */
    overflow-wrap: break-word;
    line-height: 1.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
}