.div {
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px; /* Añade espacio entre los elementos */
    text-wrap: wrap;
     /* Rompe las palabras largas para evitar el desbordamiento */
    background-color: rgb(250, 235, 255)
}

.p{
    width: 100%;
    text-wrap: wrap;
    box-sizing: border-box; /* Incluye el padding y el border en el cálculo del ancho */
    overflow-wrap: break-word;
    font-family: 'Lobster', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Work Sans', sans-serif;
}

.h1{

    font-family: 'Lobster', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Work Sans', sans-serif;



}