.h2{
    font-family: 'Lobster', sans-serif;
    max-width: 200px
}





.headerPrin{

    display: flex;
    


}



.container_h2_boton{

width: 700px;
margin-left: 285px ;

}




.h2container{
    width: 1000px;
    margin: 0 auto;
}

.boton{

    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    border: none;
    background-color: rgb(241, 240, 240); /* Color de fondo del botón (puedes cambiarlo) */
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 550px;
}