
.div{
    max-width: 1000px;
    margin: 0 auto;
}

.h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 175px;
}

@media (max-width: 1268px) {
    .header{
        margin-top: 60px;
        text-wrap: nowrap;
    }
    .h2{
        margin: 20px;
    }
}