body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px; /* Ajusta esto al ancho máximo deseado para tu layout */
  }
  
  .sidebar {
    
    min-width: 200px; /* Ajusta este valor según el ancho deseado para la barra lateral */
    width: 250px;
    max-width: 250px; /* Ajusta este valor según el ancho deseado para la barra lateral */
  }
  
  .main-content {
    flex: 3;
    margin: 0 20px;
  }
  
  /* MOBILE VIEW */
  @media (max-width: 645px) {
    .body {
        background-color: red;
    }
  
    .container {
      flex-direction: column;
    }
  }